# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

# Make
src/Makefile.in

Makefile.in
aclocal.m4
ar-lib
/autom4te.cache/*
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
/src/.deps/*
/src/.libs/*
/src/apparatus
stamp-h1
test-driver
/tests/.deps/*
/tests/.libs/*
/tests/Makefile.in
/tests/check_roman
/tests/check_roman.log
/tests/check_roman.trs
/tests/test-suite.log


# CMake
cmake_install.cmake
CMakeCache.txt
Makefile
/CMakeFiles/*
/src/CMakeFiles/*
/tests/CMakeFiles/*

# CLion
/.idea/*
